* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

body {
    background-color: black; 
    max-height: 100% vh;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: pink;
}

#display_flower {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 5px;
    color: pink;
    font-size: 24px;
    font-weight: 900;
}

#wrongGuessImage {
    display: flex;
    justify-content: center;
}
.button_area {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#button {
    display: flex;
    justify-content: center;
    background-color: pink;
}

.keyboard_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.firstrow, .secondrow, .thirdrow {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
    padding: 5px;
}

.kbtn {
    background-color: pink;
    text-align: center;
    min-width: 50px;
    size: 20px
}

.hidden-content {
    visibility: hidden;
}