.scale-up-ver-center {
    -webkit-animation: scale-up-ver-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: scale-up-ver-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

@-webkit-keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}



body {
    display: grid
    background-color: white;
    font-family: "montserrat", sans-serif;
    gap: 1vmin;
}

#title {
    display: grid;
    grid-template: ;
    color: pink;
    font-weight: 500;
    font-size: 8vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    /* application of animation to title */
    animation: scale-up-ver-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

#message {
    display: grid;
    color: pink;
    font-size: 4vmin;
}

.flower_area {
    background: lightgreen;
    width: 300px;
    padding: 1rem;
}

.flower_start {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

