* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black;  */
    max-height: 100% vh;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: pink;
}

#display_flower {
    display: flex;
    justify-content: center;
    margin: 5px;
    color: pink;
}

#wrongGuessImage {
    display: flex;
    justify-content: center;
}
.button_area {
    display: flex;
    justify-content: center;
    /* margin: 30px; */
}

#button {
    display: flex;
    justify-content: center;
    background-color: pink;
}

.keyboard_area {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 3px; */
}

.kbtn {
    background-color: pink;
    text-align: center;
}